cold-ai-n8n/Landing Page Interest.json
{
  "name": "Cold: Landing Interest",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_-XvEVOIkc-zVFxe-ml_azpYQiiTaA2keg91qdifel4",
          "mode": "list",
          "cachedResultName": "Landing Page Interest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_-XvEVOIkc-zVFxe-ml_azpYQiiTaA2keg91qdifel4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_-XvEVOIkc-zVFxe-ml_azpYQiiTaA2keg91qdifel4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Timestamp": "={{ $json.created_at }}",
            "Referrer": "={{ $json.referrer }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Referrer",
              "displayName": "Referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Today",
              "displayName": "Today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "This Week",
              "displayName": "This Week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "This Month",
              "displayName": "This Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "All-Time",
              "displayName": "All-Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": "=3",
              "firstDataRow": 4
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        784,
        128
      ],
      "id": "45992c6b-168e-4bb7-b30e-7f54a42ec4ca",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C897oSlBeWmToKBZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "admin@nudgeai.uk",
        "subject": "=🎉 New Cold AI Signup: {{ $json.Email }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #ea580c;\">New Cold AI Landing Page Signup!</h2>\n  \n  <div style=\"background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n    <p><strong>Email:</strong> {{ $json.Email }}</p>\n    <p><strong>Time:</strong> {{ $('Set Fields').item.json.created_at }}</p>\n    <p><strong>Source:</strong> {{ $('Set Fields').item.json.source }}</p>\n    <p><strong>Referrer:</strong> {{ $('Set Fields').item.json.referrer || 'Direct' }}</p>\n  </div>\n  \n  <p>The Google Sheet has been updated. Remember to follow up!</p>\n  \n  <a href=\"https://docs.google.com/spreadsheets/d/1_-XvEVOIkc-zVFxe-ml_azpYQiiTaA2keg91qdifel4/edit?gid=0#gid=0\" \n     style=\"display: inline-block; background: #ea580c; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">\n    View Sheet\n  </a>\n</div>",
        "options": {
          "ccList": "kyrixagency@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        128
      ],
      "id": "aa012d21-21df-4ecf-960e-b07b67ea98fe",
      "name": "Send team message",
      "webhookId": "77a3d08d-1e11-47d0-ab95-75f8aac43fe4",
      "credentials": {
        "gmailOAuth2": {
          "id": "EKVumr6zMqEScwAd",
          "name": "Cold AI OAuth Client"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "165a8ed1-f6c1-48cb-96fb-d3cdb18a06b2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "222bb66d-0319-445f-a3b6-92decf0bbf6a",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e307109d-99d9-4e03-a395-0a7dd6c3627f",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "e3c05d43-85fd-4751-89b9-4d34c7450939",
              "name": "referrer",
              "value": "={{ $json.referrer }}",
              "type": "string"
            },
            {
              "id": "e4f8555b-e849-4720-9842-4f40e7e9505c",
              "name": "created_at",
              "value": "={{ DateTime.fromISO($json.created_at).setZone('Europe/London').toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        128
      ],
      "id": "e5540df7-4a00-4580-9808-3a057d82469b",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -144
      ],
      "id": "928cf7f5-5957-49b0-8593-f617728d3553",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  email,\n  created_at,\n  source,\n  user_agent,\n  referrer\nFROM landing_interest \nWHERE processed = false\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        -144
      ],
      "id": "ec551950-f9da-4c7a-9329-eea5faa1172c",
      "name": "Find",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "T8ezeWp6i6SGTMT9",
          "name": "Cold Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -144
      ],
      "id": "09d01eab-e4c4-4f6c-bc70-0ecd34089f11",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        128
      ],
      "id": "9338193d-b635-49ac-b172-7a14f8f40cac",
      "name": "Wait",
      "webhookId": "554da19d-ab63-42ed-b1a9-73fe7a62e544"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  UPDATE landing_interest\n  SET processed = true\n  WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Set Fields').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        128
      ],
      "id": "23814e34-71ee-43b1-994e-7938161f6abd",
      "name": "Update processed",
      "credentials": {
        "postgres": {
          "id": "T8ezeWp6i6SGTMT9",
          "name": "Cold Database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        -160
      ],
      "id": "7cf18ec9-abc8-46d0-b4c8-9b474fa2b87c",
      "name": "End"
    }
  ],
  "pinData": {},
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send team message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send team message": {
      "main": [
        [
          {
            "node": "Update processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update processed": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4615450e-7e12-421c-8e8d-2ba9babc7f7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac32282631d87907ecd7e488a2d942d074ac75be96eae3783bd96e6548940ff2"
  },
  "id": "q7EXpGnNF3GYX2rN",
  "tags": [
    {
      "createdAt": "2025-07-03T14:41:16.741Z",
      "updatedAt": "2025-07-03T14:41:16.741Z",
      "id": "AfErn6zbWY41qrY9",
      "name": "nudge cold"
    },
    {
      "createdAt": "2025-07-22T15:09:00.765Z",
      "updatedAt": "2025-07-22T15:09:00.765Z",
      "id": "yrfp10HbhjmoX07s",
      "name": "web-app"
    }
  ]
}